.App {
  text-align: center;
}

.profile {
  display: flex;
  justify-content: center;
  padding-top: 20px;
}

.profile_img {
  background-color: white;
}

.profile_name {
  font-size: large;
  font-weight: bold;
}
